# Ignore Play! working directory #
/db
/target
target
tmp/
tmp
test-result
/dist/
dist
logs
project/project
project/target
.history
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
bin/
.eclipse
/modules
server.pid
*.eml
.cache
